.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  background-color: lightgreen
}

.card{
  background-color: lightgreen
}
span{
  color:blueviolet;
  
}

li{
  color: #0d6efd;
}


.nav{
  margin-left: 725px;
  /* display: inline-block; */
}
a:link {
  text-decoration: none;
  padding: 5px 5px;
}


h1{
  margin-left: 820px;
}

h2{
  margin-left: 700px;
}

.inputBar{
   
  margin-left: 670px; 
}

.card{
  margin-left: 670px;
  width: 25%;
}

.userInfo{
  margin-left: 780px; 
}

h3{
  margin-left: 790px;
}

img{
  margin-left: 750px;
}

form{
  display: flex;
  margin-left: 600px;
}